<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>myonghyuplim.github.io/clip2-inHouse_20101018_TB.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.kt.MOCA</string>
				<key>bundle-version</key>
				<string>06.00.13</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Clip2-inHouse-20101018</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
